---
import Sidebar from "../../public/assests/Sidebar.svg"
---

<div class="size-fill fixed z-10">
    <button id="sidebar-toggle" popovertarget="sidebar" type="button" aria-haspopup="menu" aria-expanded="false" aria-controls="menu" class="text-[var(--noticeoklch)] rounded-md inline-block mt-4 sm:-left-0.25 text-xs lg:hidden focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-[var(--accent)] cursor-pointer focus-visible:ring-offset-2 focus-visible:ring-offset-gray-100 dark:focus-visible:ring-offset-gray-800 transition-all">
        Sidebar
        <Sidebar class="fill-[var(--noticeoklch)]" />
    </button>
</div>