---
import type { HTMLAttributes } from "astro/types";
import Link from "../../public/assests/Link.svg";

interface Props extends HTMLAttributes<"div"> {
  size?: "md" | "lg" | "xl" | "2xl";
  filled?: boolean;
  button?: boolean;
  classes?: string;
  leading?: string;
  fontSize?: string;
  weight?: string;
}

const {
  size = "md",
  leading,
  fontSize,
  weight,
  id,
  ...rest
} = Astro.props;
---

<a {...rest} role="button" aria-labelledby={id} class="text-xl hover:outline hover:outline-[var(--accent)] bg-[var(--backdrop-accent)] text-[var(--accent)] cursor-pointer rounded-md inline-flex items-center mr-1 2xl:px-2.75 2xl:py-2.75 px-2.5 py-2 sm:py-2 sm:px-2">
    <p data-size={size}>
        <slot />
    </p>
    <Link stroke="var(--accent)" class="ml-1 2xl:ml-2 2xl:mt-0.5" />
    <span id={id} class="sr-only"><slot /></span>
</a>

<style define:vars={{ leading, fontSize, weight }}>
    .button-credit {
        display: inline-flex;
        padding: 0.1rem 0.5rem;
        cursor: pointer;
        border-radius: 0.375rem;
    }

    [data-size="md"] {
        font-weight: var(--weight, 400);
        font-size: var(--fontSize, 1.125rem)/* 18px */;
        line-height: var(--leading, 1.75rem)/* 28px */;
    }
    [data-size="lg"] {
        font-weight: var(--weight, 500);
        font-size: var(--fontSize, 1.25rem); /* 20px */
        line-height: var(--leading, 1.75rem)/* 28px */;
    }
    [data-size="xl"] {
        font-weight: var(--weight, 600);
        font-size: var(--fontSize, 1.5rem)/* 24px */;
        line-height: var(--leading, 2rem)/* 32px */;
    }
    [data-size="2xl"] {
        font-weight: var(--weight, 700);
        font-size: var(--fontSize, 1.875rem)/* 30px */;
        line-height: var(--leading, 2.25rem)/* 36px */;
    }
    @media (min-width: 1100px) {
        [data-size="md"] {
            font-weight: calc(var(--weight, 500) + 50);
            font-size: calc(var(--fontSize, 1.125rem) + 0.1875rem )/* 18px */;
            line-height: calc(var(--leading, 1.75rem) + 0.1875rem )/* 28px */;
        }
        [data-size="lg"] {
            font-weight: calc(var(--weight, 600) + 50);
            font-size: calc(var(--fontSize, 1.25rem) + 0.1875rem ); /* 20px */
            line-height: calc(var(--leading, 1.75rem) + 0.1875rem )/* 28px */;
        }
        [data-size="xl"] {
            font-weight: calc(var(--weight, 700) + 50);
            font-size: calc(var(--fontSize, 1.5rem) + 0.1875rem )/* 24px */;
            line-height: calc(var(--leading, 2rem) + 0.1875rem )/* 32px */;
        }
        [data-size="2xl"] {
            font-weight: calc(var(--weight, 800) + 50);
            font-size: calc(var(--fontSize, 1.875rem) + 0.1875rem )/* 30px */;
            line-height: calc(var(--leading, 2.25rem) + 0.1875rem )/* 36px */;
        }
    }
    @media (min-width: 1536px) {
        [data-size="md"] {
            font-weight: calc(var(--weight, 500) + 50);
            font-size: calc(var(--fontSize, 1.125rem) + 0.25rem )/* 18px */;
            line-height: calc(var(--leading, 1.75rem) + 0.25rem )/* 28px */;
        }
        [data-size="lg"] {
            font-weight: calc(var(--weight, 600) + 50);
            font-size: calc(var(--fontSize, 1.25rem) + 0.25rem ); /* 20px */
            line-height: calc(var(--leading, 1.75rem) + 0.25rem )/* 28px */;
        }
        [data-size="xl"] {
            font-weight: calc(var(--weight, 700) + 50);
            font-size: calc(var(--fontSize, 1.5rem) + 0.25rem )/* 24px */;
            line-height: calc(var(--leading, 2rem) + 0.25rem )/* 32px */;
        }
        [data-size="2xl"] {
            font-weight: calc(var(--weight, 800) + 50);
            font-size: calc(var(--fontSize, 1.875rem) + 0.25rem )/* 30px */;
            line-height: calc(var(--leading, 2.25rem) + 0.25rem )/* 36px */;
        }
    }
    @media (max-width: 540px) {
        [data-size="md"] {
            font-size: calc(var(--fontSize, 1.125rem) + 0.15rem )/* 18px */;
            line-height: calc(var(--leading, 1.75rem) + 0.15rem )/* 28px */;
        }
        [data-size="lg"] {
            font-size: calc(var(--fontSize, 1.25rem) + 0.15rem ); /* 20px */
            line-height: calc(var(--leading, 1.75rem) + 0.15rem )/* 28px */;
        }
        [data-size="xl"] {
            font-size: calc(var(--fontSize, 1.5rem) + 0.15rem )/* 24px */;
            line-height: calc(var(--leading, 2rem) + 0.15rem )/* 32px */;
        }
        [data-size="2xl"] {
            font-size: calc(var(--fontSize, 1.875rem) + 0.15rem )/* 30px */;
            line-height: calc(var(--leading, 2.25rem) + 0.15rem )/* 36px */;
        }
    }
</style>