---

---

<div role="navigation" class="group inline-block ml-[1ch] lg:ml-[1.75ch] z-10 h-[1.1lh] dark:selection:text-[var(--sl-color-white)] dark:selection:bg-[var(--sl-color-accent)]">
    <div class="relative mt-0.5 2xl:mt-0.75 px-[0.5ch] pt-[0.2ch] pb-[0.2ch] hover:pb-1 duration-[220ms] h-[1lh] group-hover:h-auto transition-all overflow-y-clip rounded-md bg-[var(--backdrop)] dark:group-hover:bg-[var(--backdrop-relative)]">
        <p aria-describedby="Creative Developer" class="left-0 -mt-0.5 ml-1.25 text-[0.9rem] [0.813rem] 2xl:text-base cursor-pointer text-[var(--noticeoklch)] group-hover:opacity-0 absolute transition-opacity">Creative Developer</p>
        <p aria-hidden="true" class="left-0 -mt-0.5 text-[0.9rem] [0.813rem] 2xl:text-base cursor-pointer menuJob transition-opacity group-hover:opacity-100 opacity-0">Creative Developer</p>
        <p class="left-0 pt-0.5 2xl:pt-1 text-[0.9rem] [0.813rem] 2xl:text-base cursor-pointer menuJob transition-colors leading-5">Creative Developer</p>
    </div>
</div>