---
import "../app.css";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"p"> {
  size?: "sm" | "md" | "lg" | "xl" | "2xl";
  filled?: boolean;
  button?: boolean;
  classes?: string;
  theme?:
    | "title"
    | "accent"
    | "default"
    | "primary"
    | "secondary"
  weight?: "100" | "200" | "300" | "400" | "500" | "600" | "700" | "800" | "900";
  lineHeight?: string;
  textSize?: string;
}

const {
  size = "md",
  classes,
  filled,
  button,
  weight = "400",
  theme = "default",
  lineHeight,
  textSize,
  ...rest
} = Astro.props;
const foreground = theme === "primary" ? "var(--text)" : theme === "secondary" ? "var(--abstract)" : theme === "accent" ? "var(--accent)" :  "var(--noticeoklch)";
---

{button && <a data-size={size} {...rest} class:list={[filled && button ? "filled" : "", button ? "button" : "", classes]}>
    <p class:list={[!filled && "hover:bg-[var(--backdrop-accent)] transition-all rounded-md"]}>
        <slot/>
    </p>
</a>}

{!button && <p data-size={size} {...rest} class:list={[filled ? "filled" : "", classes]}>
    <slot />
</p>}

<style define:vars={{ foreground, weight, textSize, lineHeight }}>
    .button p {
        display: inline-flex;
        padding: 0.1rem 0.5rem;
        cursor: pointer;
        border-radius: 0.375rem;
    }
    .filled p {
        background-color: var(--backdrop-accent);
        color: var(--accent);
        padding: 0.15rem 0.6rem;
    }
    [data-size="sm"] {
        color: var(--foreground);
        font-size: var(--textSize, 0.875rem); /* 14px */
        line-height: var(--lineHeight, 1.25rem); /* 20px */
    }
    [data-size="md"] {
        font-weight: var(--weight);
        font-size: var(--textSize, 1.125rem)/* 18px */;
        line-height: var(--lineHeight, 1.75rem); /* 28px */
        color: var(--foreground);
    }
    [data-size="lg"] {
        font-weight: var(--weight);
        font-size: var(--textSize, 1.25rem); /* 20px */
        line-height: var(--lineHeight, 1.75rem); /* Default line-height */
        color: var(--foreground);
    }
    [data-size="xl"] {
        font-weight: var(--weight);
        font-size: var(--textSize, 1.5rem); /* 24px */
        line-height: var(--lineHeight, 2rem); /* 32px */
        color: var(--foreground);
    }
    [data-size="2xl"] {
        font-weight: var(--weight);
        font-size: var(--textSize, 1.875rem); /* 30px */;
        line-height: var(--lineHeight, 2.25rem); /* 36px */
        color: var(--foreground);
        background-image: linear-gradient(var(--noticeoklch) -100%, var(--abstract) 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
    @media (max-width: 540px) {
        [data-size="sm"] {
            color: var(--foreground);
            font-size: calc(var(--textSize, 0.875rem) - 0.04rem); /* 14px */
            line-height: calc(var(--lineHeight, 1.25rem) - 0.04rem); /* 20px */
        }
    }
    @media (min-width: 1536px) {
        [data-size="sm"] {
            color: var(--foreground);
            font-size: calc(var(--textSize, 0.875rem) + 0.1rem); /* 14px */
            line-height: calc(var(--lineHeight, 1.25rem) + 0.1rem); /* 20px */
        }
        [data-size="md"] {
            font-weight: calc(var(--weight) + 100);
            font-size: calc(var(--textSize, 1.125rem) + 0.04rem);/* 18px */;
            line-height: calc(var(--lineHeight, 1.75rem) + 0.04rem); /* 28px */
            color: var(--foreground);
        }
        [data-size="lg"] {
            font-weight: calc(var(--weight) + 100);
            font-size: calc(var(--textSize, 1.25rem) + 0.1rem); /* 20px */
            line-height: calc(var(--lineHeight, 1.75rem) + 0.1rem); /* Default line-height */
            color: var(--foreground);
        }
        [data-size="xl"] {
            font-weight: calc(var(--weight) + 100);
            font-size: calc(var(--textSize, 1.5rem) + 0.1rem); /* 24px */
            line-height: calc(var(--lineHeight, 2rem) + 0.1rem); /* 32px */
            color: var(--foreground);
        }
        [data-size="2xl"] {
            font-weight: calc(var(--weight) + 100);
            font-size: calc(var(--textSize, 1.875rem)); /* 30px */;
            line-height: calc(var(--lineHeight, 2.25rem)); /* 36px */
            color: var(--foreground);
            background-image: linear-gradient(var(--noticeoklch) -100%, var(--abstract) 100%);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
        }
    }
</style>